body {
    background-image: url('https://miro.medium.com/max/10378/1*c1M-9xmipeRtQJpagPS41g.png');
    background-size: auto 100vh;
    height: 100vh;

  }

body {
    background-color: lightslategray;
    opacity: unset;
  }
  
  .menu {
    color: lightblue;
    Font-Family: Arial;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: #DCDCDC;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 1;
    Font-Family: Arial;
  }
  
  .site-subtitle {
    font-style: italic;
  }
  
  